*********************************************************************************
*                                                                               *
* DRILL TAPE SUMMARY REPORT                                                     *
*                                                                               *
* F:\EIS\PROJECTS\TRANSCONDUCTANCE AMPLIFIER\ORCAD\LAYOUT\EIS_NICU_BOARD-5.MAX  *
* Wed Dec 26 17:43:22 2007                                                      *
*                                                                               *
*********************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      12       200      100                                                                                 
T2       310      14       200      100                                                                                 
T3       340      32       200      100                                                                                 
T4       390      9        200      100                                                                                 
T5       394      12       200      100                                                                                 
T6       670      15       200      100                                                                                 
T7       1100     4        200      100                                                                                 
