**********************************************************************************
*                                                                                *
* DRILL TAPE SUMMARY REPORT                                                      *
*                                                                                *
* F:\EIS\PROJECTS\TRANSCONDUCTANCE AMPLIFIER\ORCAD\LAYOUT\EIS_NICU_BOARD-10.MAX  *
* Sat Jan 19 15:06:10 2008                                                       *
*                                                                                *
**********************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      40       200      100                                                                                 
T2       340      28       200      100                                                                                 
T3       670      24       200      100                                                                                 
T4       1100     4        200      100                                                                                 
